main {
    padding-top: 3.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    grid-row-gap: 5rem;
  }
  
  @media (max-width: 935px) {
    main {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  
  @media (max-width: 735px) {
    main {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  
  @media (max-width: 535px) {
    main {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (max-width: 335px) {
    main {
      grid-template-columns: 1fr;
    }
  }

  .heading {
    color: #3498db;
text-align: center;
margin: 5px 5px 2px 2px;
padding-bottom: 1.5rem;


  }

  .heading1 {
      color: #3498db;
    text-align: center;
    margin: 20px 5px 2px 2px;
   padding-top: 3.5rem;
   padding-bottom: 1.5rem;

  }
  