

.head{
    color: rgb(4, 100, 4);
    text-align: justify;
    margin-left: 100px;
    margin-right: 100px;
}

.sub{
    color: crimson;
    text-align: justify;
    margin-left: 100px;
    margin-right: 100px;
}

.p{
    color: darkblue;
    text-align: justify;
    margin-left: 100px;
    margin-right: 100px;
}